* {
    font-family: 'Comfortaa', cursive;
}
html, h1, h2, h3, h4, h5, h6 {
    color: dimgrey;
}
body {
    background: beige;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    padding: 10px 12px;
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #c9c193;
    line-height: 1.5em;
    color: #140f15;
    font-size: 1rem;
}
/*
    HEADER
 */
header {
    background: blanchedalmond;
    height: 70px;
}
header h1 {
    margin-top: 13px;
}
header h1 a {
    color: #ffff;
}
header h1 a:hover {
    color: #ffff;
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a {
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: #08021a;
    padding: 20px;
}
header ul li a:hover {
    background: rgb(208, 208, 184);
    transition: 0.5s;
    color: beige;
}
header ul li ul {
    position: absolute;
    top: 70px;
    right: 0;
    width: 180px;
    z-index: 111;
    display: none;
}
header ul li:hover ul {
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a {
    padding: 10px;
    background: blanchedalmond;
    color: #08021a;
}
/*
    Slider
 */
.slider-title {
    text-align: center;
    padding: 30px 0;
}
.carousel, .carousel-inner, .carousel-item{
    height: 400px;
    border-radius: 4px;
}
.carousel-caption h5 {
    font-size: 2rem;
    font-weight: 500;
    background: #08021a;
    max-width: 100%;
    padding: 0.3em;
    opacity: 0.5;
}
.carousel-caption-hack {
    position: absolute;
    right: 0;
    bottom: 0.05em;
    left: 0;
    padding-top: 1.25rem;
    padding-bottom: 0;
    color: beige;
    text-align: center;
    width: 100%;
}
.carousel-caption h5 a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.carousel-caption h5 a:hover {
    text-decoration: underline;
}
/*
    Main block
 */
.main-content h2 {
    margin: 30px 0;
}
.main-content .post {
    margin-bottom: 30px;
}
.main-content .post_text {
    background: rgb(255, 255, 217);
    padding: 8px;
    border-radius: 3px;
}
.main-content .post_text h3 {
    margin: 14px 0;
}
.main-content .post_text h3 a:hover{
    text-decoration: underline;
    color: #08021a;
}
.main-content .post_text i {
    margin: 0 14px 0 14px;
}
/*
    Sidebar
 */
.search {
    margin-top: 98px;
}
.sidebar .section {
    background: lightyellow;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.sidebar .topic ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #c9c193;
}
.sidebar .topic ul li a {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #c9c193;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #08021a;
    font-size: 1.2em;
}
.sidebar .topic ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}
/*
    Footer
 */
.footer {
    background: #3d3d3d;
    color: beige;
    position: relative;
}
.footer .footer-section {
    padding: 22px;
}
.footer h4, .footer h3 {
    color: beige;
}
.footer .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .about .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: beige;
}
.footer .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .3s;
}
.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: beige;
    text-decoration: none;
}
.footer .links ul a:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
}
.footer .contact-form .contact-input {
    background: #140f15;
    color: #c9c193;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}
.footer .contact-form .contact-input:focus {
    background: #060609;
}
.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
    border: 1px solid black;
    color: black;
}
.footer .contact-form .contact-btn:hover {
    color: white;
    margin-left: 15px;
    transition: all .3s;
    border: 1px solid white;
}
.footer .footer-bottom {
    background: #3d3d3d;
    color: dimgrey;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}
/*
    Single post
 */
.single_post {
    margin-bottom: 30px;
}
.single_post .info {
    margin: 20px 0;
}
.single_post .info i {
    display: inline-block;
    margin-right: 20px;
}
.single_post a {
    text-decoration: underline;
}
.single_post a:hover {
    text-decoration: underline;
    font-weight: 500;
    color: #08021a;
}
/*
    Reg Form
 */
.reg_form h2 {
    text-align: center;
    margin: 30px 0;
}
.reg_form input {
    height: 3.3rem;
}
.reg_form a {
    font-size: 1.2em;
    transition: all .3s;
    color: dimgrey;
    text-decoration: none;
    margin-left: 60px;
}
.reg_form a:hover {
    margin-left: 55px;
    transition: all .3s;
}